<div class="contain flex flex-col">
    <div class="left-content">
        <div class="section-title">
            <h3 class="text-secondary my-5"><span>QUEM SOMOS</span></h3>
        </div>
        <div class="content my-10">
            <div class="main-title-content my-5">
                <h1>{{this.mainTitle}}</h1>
            </div>
            <div class="subtitle-content my-5">
                <h4>{{this.subTitle}}</h4>
            </div>
            <div class="paragraph-content">
                <p class="my-5">
                    {{this.firstParagraph}}
                </p>
                <p class="my-5">
                    {{this.secondParagraph}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="scroller contain-boxes overflow-x-auto bg-orange-0 p-0 mb-5 h-50" #scroller>
    <div class="bg-orange-0 flex items-center p-7 justify-between flex-row w-[1120px]">
        <div class="mission mr-5" #mission>
            <div class="mission-card card bg-white flex px-5 py-8">
                <div class="mission-right">
                    <div class="description-title my-2">
                        <h4>Missão</h4>
                    </div>
                    <div class="description-content">
                        <p>
                            {{this.missionContent}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="vision mx-10" #vision>
            <div class="vision-card card bg-white flex px-5 py-2"> 
                <div class="vision-right">
                    <div class="description-title my-2">
                        <h4>Visão</h4>
                    </div>
                    <div class="description-content">
                        <p>
                            {{this.visionContent}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="values ml-5" #values>
            <div class="values-card card bg-white flex p-5">
                <div class="values-right">
                    <div class="description-title my-2">
                        <h4>Valores</h4>
                    </div>
                    <div class="description-content">
                        <p>
                            {{this.valuesContent}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="slide-controllers mt-0 text-center">
    <a href="javascript:void(0)" (click)="this.scrollTo(mission)" class="text-2xl" [innerHTML]="this.missionButton" [ngClass]="{'primary': this.isMissionActive, 'secondary': !this.isMissionActive}"></a>
    <a href="javascript:void(0)" (click)="this.scrollTo(vision)" class="text-2xl" [innerHTML]="this.visionButton" [ngClass]="{'primary': this.isVisionActive, 'secondary': !this.isVisionActive}"></a>
    <a href="javascript:void(0)" (click)="this.scrollTo(values)" class="text-2xl" [innerHTML]="this.valuesButton" [ngClass]="{'primary': this.isValuesActive, 'secondary': !this.isValuesActive}"></a>
</div>