<div class="contain flex flex-col">
    <div class="left-content">
        <div class="section-title">
            <h3 class="text-secondary my-5"><span>QUEM SOMOS</span></h3>
        </div>
        <div class="content my-10">
            <div class="main-title-content my-5">
                <h1>Refletimos a visão dos fundadores de que devemos lutar bravamente pelo que desejamos.</h1>
            </div>
            <div class="subtitle-content my-5">
                <h4>Prestação de Serviços, com foco em Agronegócio.</h4>
            </div>
            <div class="paragraph-content">
                <p class="my-5">
                    Somos uma empresa vocacionada ao Comercio e Prestação de Serviços, com foco em Agronegócio e pretendemos ser reconhecidos pela solidez e competência, tanto no mercado nacional e internacional, bem como por todos os nossos clientes, colaboradores e parceiros .
                </p>
                <p class="my-5">
                    Somos uma empresa vocacionada ao Comercio e Prestação de Serviços, com foco em Agronegócio e pretendemos ser reconhecidos pela solidez e competência, tanto no mercado nacional e internacional, bem como por todos os nossos clientes, colaboradores e parceiros .
                </p>
            </div>
        </div>
    </div>
    <div class="scroller contain-boxes overflow-x-auto" #scroller>
        <div class="flex items-center pl-3 justify-between flex-row w-[1000px]">
            <div class="mission" #mission>
                <div class="mission-card bg-white flex p-8">
                    <div class="mission-right">
                        <div class="description-title my-2">
                            <h4>Missão</h4>
                        </div>
                        <div class="description-content">
                            <p>
                                Contribuir para um país mais forte por meio da transformação
                                 do conhecimento em Riqueza para as pessoas.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="vision" #vision>
                <div class="vision-card bg-white flex p-8">
                    <div class="vision-right">
                        <div class="description-title my-2">
                            <h4>Visão</h4>
                        </div>
                        <div class="description-content">
                            <p>
                                Ser a maior e melhor empresa no ramo do agronegócio, oferecendo aos seus clientes e parceiros uma relação duradoura, com foco no crescimento, rentabilidade e responsabilidade socioambiental.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="values" #values>
                <div class="values-card bg-white flex p-8">
                    <div class="values-right">
                        <div class="description-title my-2">
                            <h4>Valores</h4>
                        </div>
                        <div class="description-content">
                            <p>
                                Inovação, Liderança, Responsabilidade, Integridade, Paixão, Colaboração, Diversidade, Qualidade.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slide-controllers mt-0 text-center">
        <a href="javascript:void(0)" (click)="this.scrollTo(mission)" class="text-secondary text-2xl" [innerHTML]="this.missionButton"></a>
        <a href="javascript:void(0)" (click)="this.scrollTo(vision)" class="text-secondary text-2xl" [innerHTML]="this.visionButton"></a>
        <a href="javascript:void(0)" (click)="this.scrollTo(values)" class="text-secondary text-2xl" [innerHTML]="this.valuesButton"></a>
    </div>
</div>