<div class="contain">
    <div class="title">
        <h4>Integridade, Paixão, Colaboração, Diversidade, Qualidade</h4>
    </div>
    <div class="boxes flex justify-around mt-5 mb-5 px-10">
        <div class="box">
            <img src="assets/second-section/image1.jpg" alt="">
        </div>
        <div class="box">
            <img src="assets/second-section/image2.jpg" alt="">
        </div>
        <div class="box">
            <img src="assets/second-section/image3.jpg" alt="">
        </div>
        <div class="box">
            <img src="assets/second-section/image4.jpg" alt="">
        </div>
        <div class="box">
            <img src="assets/second-section/image5.jpg" alt="">
        </div>
    </div>
</div>