<div class="contain sm:pt-20 w-[90%] bg-blue-0 mx-auto">
    <div class="title sm:w-full lg:w-[350px]">
        <h4 class="sm:text-center lg:text-left">Integridade, Paixão, Colaboração, Diversidade, Qualidade</h4>
    </div>
    <div class="contain-boxes sm:overflow-x-auto">
        <div class="boxes flex sm:justify-between lg:justify-around mt-5 mb-5 lg:px-10 sm:w-[1300px]">
            <div class="box">
                <img src="assets/second-section/image1.jpg" alt="">
            </div>
            <div class="box">
                <img src="assets/second-section/image2.jpg" alt="">
            </div>
            <div class="box">
                <img src="assets/second-section/image3.jpg" alt="">
            </div>
            <div class="box">
                <img src="assets/second-section/image4.jpg" alt="">
            </div>
            <div class="box">
                <img src="assets/second-section/image5.jpg" alt="">
            </div>
        </div>
    </div>
    
</div>