<div class="contain flex justify-between">
    <div class="left-content bg-orange-300">
        <div class="section-title">
            <h3 class="text-secondary my-5">QUEM SOMOS</h3>
        </div>
        <div class="content">
            <div class="main-title-content my-5">
                <h1>Refletimos a visão dos fundadores de que devemos lutar bravamente pelo que desejamos.</h1>
            </div>
            <div class="subtitle-content my-5">
                <h4>Prestação de Serviços, com foco em Agronegócio.</h4>
            </div>
            <div class="paragraph-content">
                <p class="my-5">
                    Somos uma empresa vocacionada ao Comercio e Prestação de Serviços, com foco em Agronegócio e pretendemos ser reconhecidos pela solidez e competência, tanto no mercado nacional e internacional, bem como por todos os nossos clientes, colaboradores e parceiros .
                </p>
                <p class="my-5">
                    Somos uma empresa vocacionada ao Comercio e Prestação de Serviços, com foco em Agronegócio e pretendemos ser reconhecidos pela solidez e competência, tanto no mercado nacional e internacional, bem como por todos os nossos clientes, colaboradores e parceiros .
                </p>
            </div>
        </div>
    </div>
    <div class="right-content bg-orange-100 flex items-center justify-center flex-col">
        <div class="mission">
            <div class="mission-card bg-white flex p-10">
                <div class="mission-left">
                    <img src="assets/icones/mission.svg" width="25px" alt="">
                </div>
                <div class="mission-right">
                    <div class="description-title">
                        <h4>Missão</h4>
                    </div>
                    <div class="description-content">
                        texto
                    </div>
                </div>
            </div>
        </div>
        <div class="vision_values">
            Visão e Valores
        </div>
    </div>
</div>