<div class="contain flex lg:justify-between">
    <div class="left-content">
        <div class="section-title">
            <h3 class="text-secondary my-5">QUEM SOMOS</h3>
        </div>
        <div class="content">
            <div class="main-title-content my-5">
                <h1>{{this.mainTitle}}</h1>
            </div>
            <div class="subtitle-content my-5">
                <h4>{{this.subTitle}}</h4>
            </div>
            <div class="paragraph-content">
                <p class="my-5">
                    {{this.firstParagraph}}
                </p>
                <p class="my-5">
                    {{this.secondParagraph}}
                </p>
            </div>
        </div>
    </div>
    <div class="right-content flex items-center justify-center flex-col">
        <div class="mission mb-10">
            <div class="mission-card bg-white flex p-8">
                <div class="mission-left my-3">
                    <img src="assets/icones/mission.svg" width="60px" alt="">
                </div>
                <div class="mission-right">
                    <div class="description-title my-3">
                        <h4>Missão</h4>
                    </div>
                    <div class="description-content">
                        <p>
                            {{this.missionContent}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="description-slide">
            <div class="vision" [ngClass]="{'is-not-first' : !this.vision}">
                <div class="vision-card bg-white flex p-8">
                    <div class="vision-left my-3">
                        <img src="assets/icones/vision.svg" width="100px" alt="">
                    </div>
                    <div class="vision-right">
                        <div class="description-title my-3">
                            <h4>Visão</h4>
                        </div>
                        <div class="description-content">
                            <p>
                                {{this.visionContent}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="values" [ngClass]="{'is-first' : this.values}">
                <div class="values-card bg-white flex p-8">
                    <div class="values-left my-3">
                        <img src="assets/icones/values.svg" width="60px" alt="">
                    </div>
                    <div class="values-right">
                        <div class="description-title my-3">
                            <h4>Valores</h4>
                        </div>
                        <div class="description-content mb-12">
                            <p>
                                {{this.valuesContent}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slide-controllers mt-2">
            <a href="javascript:void(0)" (click)="makeVisionFirst()" class="text-2xl" [innerHTML]="this.visionButton" [ngClass]="{'primary': this.vision, 'secondary': !this.vision}"></a>
            <a href="javascript:void(0)" (click)="makeValueFirst()" class="text-2xl" [innerHTML]="this.valuesButton" [ngClass]="{'primary': this.values, 'secondary': !this.values}"></a>
        </div>
    </div>
</div>