
<img src="assets/vectors/circle-mobile.svg" class="absolute left-[0px] -mt-[130px]" width="900px" alt="">
<div class="container">
    <div class="left">
      <div class="title text-center">
        <h1 class="">{{this.title}}</h1>
      </div>
      <div class="content text-center">
        <h4>{{this.subtitle}}</h4>
        <p class="">
          {{this.content}}
        </p>
      </div>
      <div class="image w-[100%] my-10 bg-orange-0">
        <img src="assets/banner-images/test/image1.jpg" class="rounded-[12px] mx-auto" alt="">
      </div>

      <div class="contact-service-btn">
        <a href="javascript:void(0)" (click)="mobileContactClicked()">Contactar Serviços</a>
      </div>
    </div>
</div>