<header>
  <nav class="contain">
    <div class="logotype">
      <a href="">
        <img src="assets/logo/logo.svg" alt="">
      </a>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#" class="active">Página Inicial</a></li>
        <li><a routerLink="#about-us" routerLinkActive="active">Quem Somos</a></li>
        <li><a href="#">Nossos Serviços</a></li>
        <li><a href="#">Mensagem do CEO</a></li>
      </ul>
    </div>
    <div class="contact-service-btn"> 
      <a href="#">Contactar Serviços</a>
    </div>
  </nav>
</header>
<app-banner-section></app-banner-section>
<app-second-section></app-second-section>
<app-about-us id="about-us"></app-about-us>
<app-our-services></app-our-services>
<app-ceo-message></app-ceo-message>

<footer class="bg-primary">
  <div class="contain flex justify-between">
    <div class="content-left flex justify-center items-center m-10 m-20">
      <div class="brand mr-5">
        <img src="assets/logo/white-brand.svg" alt="">
      </div>
      <div class="text-white font-light">
        <p>Telefone: 931 96 41 04 | 923 82 68 68</p>
        <p>E-mail: geral@sejostin.com</p>
      </div>
    </div>
    <div class="content-right">
      right
    </div>
  </div>
</footer>