header{
    /* background-color: #fc0; */
    background-color: #fff;
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
}
header nav{
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > .contain{
    max-width: 1440px;
    /* background-color: orange; */
    width: 95%;
    margin: 0px auto;
    /* background-color: #fc0; */
}
header .contain .logoype{}
header .contain .menu{}
header .contain .menu ul{
    list-style: none;
}
header .contain .menu ul li{
    display: inline-block;
    margin: 0px 20px;
}
header .contain .menu ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}
header .contain .menu ul li a.active{
    color: var(--primary-color) !important;
}
header .contain .menu ul li a:hover{
    color: var(--primary-color);
}

header .contain .contact-service-btn{}
header .contain .contact-service-btn a{
    text-decoration: none;
    padding: 12px 22px;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: 5px;
    text-transform: uppercase;
}


/* Mobile */

header .contain .menu-mobile{
    position: absolute;
    left: 0;
    top: -150%;
    width: 100%;
    background-color: #fff;
    transition: .3s;
    opacity: 0;
    height: 50vh;
}

header .contain .menu-mobile.shown{
    top: 100%;
    opacity: 1;
}

header .contain .menu-mobile.hidden{
    top: -150%;
}

header .contain .menu-mobile ul{
    list-style: none;
    width: 95%;
    margin: 0px auto;
}
header .contain .menu-mobile ul li{
    display: block;
    margin: 5px 0px;
}
header .contain .menu-mobile ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
    display: block;
}
header .contain .menu-mobile ul li a.active{
    color: var(--primary-color) !important;
}
header .contain .menu-mobile ul li a:hover{
    color: var(--primary-color);
}

footer .contain{
    max-width: 1440px;
    width: 95%;
    margin: 0px auto;
}
