.menu-mobile-hamburger.open{

}
.menu-mobile-hamburger.close{
    
}
.menu-mobile-hamburger.close span.hamburger-center{
    display: none;
}
.menu-mobile-hamburger.close span.hamburger-top{
    transform: rotate(140deg);
    position: absolute;
}
.menu-mobile-hamburger.close span.hamburger-bottom{
    transform: rotate(-140deg);
}
.menu-mobile-hamburger{
    /* background-color: red; */
    position: relative;
    /* width: 40px; */
    cursor: pointer;
    z-index: 100;
}
.menu-mobile-hamburger span{
    transition: .2s ease-in-out;
}
/* .menu-mobile-hamburger span::after{
    content: '';
    position: absolute;
    width: 100%;
    transition: .3s ease-in-out;
    height: 4px;
    left: 0;
    background-color: #000;
} */

.menu-mobile-hamburger.open span.hamburger-top{
    top: 0;
}
.menu-mobile-hamburger.open span.hamburger-center{
}
.menu-mobile-hamburger.open span.hamburger-bottom{
    bottom: 0;
}

.hamburger-top{
}
.hamburger-center{
    margin: 5px 0px;
}
.hamburger-bottom{
}