<header>
  <nav class="contain">
    <div class="logotype">
      <a href="">
        <img src="assets/logo/logo.svg" alt="">
      </a>
    </div>
    <div class="menu">
      <ul>
        <li><a (click)="scrollTo(banner)" [ngClass]="{'active' : this.currentSection === 1}">Página Inicial</a></li>
        <li><a (click)="scrollTo(about)" [ngClass]="{'active' : this.currentSection === 2}">Quem Somos</a></li>
        <li><a (click)="scrollTo(services)" [ngClass]="{'active' : this.currentSection === 3}">Nossos Serviços</a></li>
        <li><a (click)="scrollTo(message)" [ngClass]="{'active' : this.currentSection === 4}">Mensagem do CEO</a></li>
      </ul>
    </div>
    <div class="contact-service-btn">
      <a href="#">Contactar Serviços</a>
    </div>
  </nav>
</header>
<div #banner>
  <app-banner-section></app-banner-section>
  <app-second-section></app-second-section>
</div>
<div #about>
  <app-about-us id="about-us"></app-about-us>
</div>
<div #services>
  <app-our-services></app-our-services>
</div>
<div #message>
  <app-ceo-message></app-ceo-message>
</div>