<div class="contain flex justify-between">
    <div class="left-content py-20">
        <div class="section-title">
            <h3 class="text-secondary my-5">NOSSOS SERVIÇOS</h3>
        </div>
        <div class="content">
            <div class="main-title-content my-4">
                <h1>{{this.mainTitle}}</h1>
            </div>
            <div class="paragraph-content">
                <p class="my-5">
                    {{this.contentParagraph}}
                </p>
            </div>
        </div>
    </div>
    <div class="right-content flex items-center justify-center flex-col">
        <div class="left-arrow absolute left-0 m-0 flex items-center justify-center" [ngClass]="{'show-btn': this.isPossibleGoBack, 'hide-btn': !this.isPossibleGoBack}">
            <button class="prev" (click)="prev()"><img src="assets/setas/left.svg" width="60%" alt=""></button>
        </div>

        <div class="right-arrow absolute -right-3 m-0 flex items-center justify-center" [ngClass]="{'show-btn': this.isPossibleGoForward, 'hide-btn': !this.isPossibleGoForward}">
            <button class="next" (click)="next()"><img src="assets/setas/right.svg" width="60%" alt=""></button>
        </div>

        
        <div class="description-slide">
            <div class="firstBlock" [ngClass]="{'is-not-first' : !this.firstBlock}">
                <div class="firstBlock-card flex">
                    <div class="firstBlock-images-container flex justify-around">
                        <div class="box" *ngFor="let first_services of this.first_block_images">
                            <img src="{{this.first_services.image_path}}" alt="">
                            <div class="description">
                                <h2>{{this.first_services.name}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="secondBlock" [ngClass]="{'is-first' : this.secondBlock, 'is-not-first' : this.thirdBlock}">
                <div class="secondBlock-card flex">
                    <div class="secondBlock-images-container flex justify-around">
                        <div class="box" *ngFor="let second_services of this.second_block_images">
                            <img src="{{this.second_services.image_path}}" alt="">
                            <div class="description">
                                <h2>{{this.second_services.name}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thirdBlock" [ngClass]="{'is-first' : this.thirdBlock, 'is-not-first' : !this.thirdBlock}">
                <div class="thirdBlock-card flex">
                    <div class="thirdBlock-images-container flex justify-around">
                        <div class="box" *ngFor="let third_services of this.third_block_images">
                            <img src="{{this.third_services.image_path}}" alt="">
                            <div class="description">
                                <h2>{{this.third_services.name}}</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="slide-controllers mt-2">
            <a href="javascript:void(0)" (click)="makeFirstBlockFirst()" class="text-2xl" [innerHTML]="this.firstBlockButton" [ngClass]="{'primary': this.firstBlock, 'secondary': !this.firstBlock}"></a>
            <a href="javascript:void(0)" (click)="makeSecondBlockFirst()" class="text-2xl" [innerHTML]="this.secondBlockButton" [ngClass]="{'primary': this.secondBlock, 'secondary': !this.secondBlock}"></a>
            <a href="javascript:void(0)" (click)="makeThirdBlockFirst()" class="text-2xl" [innerHTML]="this.thirdBlockButton" [ngClass]="{'primary': this.thirdBlock, 'secondary': !this.thirdBlock}"></a>
        </div>
    </div>
</div>