<div class="contain flex justify-between flex-col">
    <div class="left-content py-0">
        <div class="section-title">
            <h3 class="text-secondary my-5"><span>NOSSOS SERVIÇOS</span></h3>
        </div>
        <div class="content">
            <div class="main-title-content my-10">
                <h1>Estamos na 4ª revolução industrial, uma nova era de disrupção Científica e tecnológica. </h1>
            </div>
            <div class="paragraph-content">
                <p class="my-5">
                    Distribuição de bens de consumo , transporte de mercadorias, estudo de viabilidade no ramo de agronegócio, formação em agronegócio e indústria e seguro agrícolas.
                </p>
            </div>
        </div>
    </div>
    <div class="right-content flex items-center justify-center flex-col">
        <div class="firstBlock-card flex">
            <div class="firstBlock-images-container flex flex-col justify-around">
                <div class="box">
                    <img src="assets/our-services/image1.jpg" alt="">
                    <div class="description">
                        <h2>Agricultura</h2>
                    </div>
                </div>
                <div class="box">
                    <img src="assets/our-services/image2.jpg" alt="">
                    <div class="description">
                        <h2>Exportação de Café</h2>
                    </div>
                </div>
                <div class="box">
                    <img src="assets/our-services/image3.jpg" alt="">
                    <div class="description">
                        <h2>Pesca</h2>
                    </div>
                </div>
                <div class="box">
                    <img src="assets/our-services/image6.jpg" alt="">
                    <div class="description">
                        <h2>Pecuária</h2>
                    </div>
                </div>
                <div class="box">
                    <img src="assets/our-services/image5.jpg" alt="">
                    <div class="description">
                        <h2>Imóveis</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>