<div class="contain flex sm:flex-col-reverse lg:flex-row sm:w-[90%] sm:my-10 sm:mx-auto lg:w-[95%] lg:mx-auto lg:mt-[60px] lg:mb-[120px]">
    <div class="image sm:w-full lg:w-[40%] sm:h-[300px] lg:h-[514px] sm:rounded-[12px] lg:rounded-[0px] lg:rounded-bl-[12px] lg:rounded-tl-[12px] sm:my-10 lg:my-0">
        <img src="assets/ceo-message/image1.jpg" class="" alt="">
        <div class="description">
            <h2 class="mb-[3rem]">Osvaldo Francisco</h2>
        </div>
    </div>
    <div class="text-quote sm:w-full lg:w-[60%] lg:h-[514px] sm:p-0 lg:p-[4rem] lg:rounded-br-[12px] lg:rounded-tr-[12px] lg:bg-[#157da10d]">
        <div class="title my-2">
            <h1 class="sm:text-[28px] sm:text-center lg:text-left lg:text-[49px]">Mensagem do CEO</h1>
        </div>
        <div class="content-quote sm:text-center lg:text-left">
            <p class="my-5 sm:text-[14px] lg:text-[15px]">
                Estamos na 4ª revolução industrial, uma nova era de disrupção Científica e tecnológica, que trará também a transformação Social. Nós, não conseguimos imaginar tudo o que esta nova era trará, sendo que acreditamos que se traduzirá numa vida melhor para todos, numa sociedade que será mais equilibrada, mais inclusiva e mais humana.
            </p>

            <p class="my-5 sm:text-[14px] lg:text-[15px]">
                Queremos contribuir para a Construção deste futuro e acreditamos que teremos um papel no desenvolvimento em Angola. A partir da liderança e capacidade de nossos parceiros, Acompanhados por uma equipa comprometida em agregar Valor à suas iniciativas, conseguiremos contribuir para Mudanças importantes.
            </p>

            <p class="my-0 sm:text-[14px] lg:text-[15px]">
                Agradeço aos nossos clientes, colaboradores e parceiros, com os quais compartilhamos valores e uma visão que nos mobiliza: <strong class=" sm:text-[14px] lg:text-[15px]">Um futuro sustentável para ÁFRICA. Tenho certeza de que, diante de todas as adversidades está mais que provado de que Juntos alcançarão nossos objectivos.</strong>
            </p>
        </div>
    </div>
</div>